{% extends "article_layout.html" %}
{{ super() }}


    {% block content %}
      <div class="row">
        <div class="col">
          <h1>Rethinking our Drinking Habits</h1>          
        <div class="responsive">
          <iframe style='display: block; margin: 0 auto;' width="580" height="350" src="https://alcoholchange.org.uk/blog/2022/online-alcohol-sales-a-problem-on-our-doorstep" frameborder="0" allowfullscreen></iframe>          

        <div class="col">
          <div class="card card1">
            <h4>A problem on our doorstep ?</h4>
            <br>
            <p>The linked blog post speaks to excessive alcohol use and how it poses a risk for immediate consequences.</p>
                 <p>Excessive consumption of alcohol can pose a lot of risks for individuals and can have a lot of consequences which include but is not limited to, motor vehicle crashes, violence, injuries, unsafe sexual behaviour and chronic health conditions just to name a few.<p> 
             <p>How much alcohol, how quickly this alcohol is consumed and how often alcohol is consumed are factors which influence the risk of adverse health conditions and consequences which is why it is important to pay attention to how much alcohol is being consumed and consume alcohol in moderation.</p>
          </div>

          {% if data | length > 0 %}
          <div class = "card card2">
            <div style="display:flex; flex-direction:column; color:aliceblue; width: 100%;">
              <div style="display:flex; width: 100%;"> 
                <h2 style="flex-grow:1; flex-basis: 0; margin: auto;">UserName</h2>
                <h2 style="flex-grow:1 ; flex-basis: 0; margin: auto;">Comment</h2>
              </div>
            {% for comment,user in data.items() %}
              <div style="display: flex; width: 100%; text-align: center;">
                <span style="flex-grow:1; flex-basis: 0; margin: auto;">{{user}}</span>
                <p style="flex-grow:1; flex-basis: 0; display:flex; flex-direction: column; height: fit-content; margin: auto; padding: 1.5em 0;">{{comment}}</p>
              </div>      
            {% endfor %} 
            </div>
          </div>
          {% endif %}
          
        </div>
      </div>
    {% endblock %}