{% extends "article_layout.html" %}
{{ super() }}


    {% block content %}
    <div class="row">
        <div class="col">
          <h1>Cyber Bullying</h1>
          <div class="responsive">
		  	    <iframe style='display: block; margin: 0 auto;' width="580" height="350" src="https://www.verywellfamily.com/types-of-cyberbullying-460549" frameborder="0" allowfullscreen></iframe>
            <iframe style='display: block; margin: 0 auto;' width="580" height="350" src="https://www.youtube.com/watch?v=vtfMzmkYp9E" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col">
          <div>
          <div class="card card1">
            <h4>Cyber Bullying</h4>
            <br>
            <p>The linked blog post speaks to Cyber Bullying, the types of Cyber Bullying, the impact that Cyber Bullying has, as well as how to respond and prevent Cyber Bullying.</p>
			<br>
			<br><h4>What is Cyber Bullying ?</h4>
            <br>
             <p>Cyber Bullying is basically bullying which takes place through the use of digital technologies and can occur on social media platforms, messaging platforms, gaming platforms and even mobile phones. It is the repeated behaviour aimed at frightening, angering or even shaming those who are targeted. <p> 
             <br>
             <h4>Types of Cyber Bullying </h4>
			 <br> 
			 <p>Cyber Bullying can take many forms but a few can be noted to be :</p>
			 <p>Harrassment</p>
			 <p>Impersonation</p>
			 <p>Inappropriate Photographs</p>
			 <p>Website Creation</p>
			 <p>Video Shaming</p>
			 <br>
			 <h4>Response and Prevention</h4>
			 <p>Responses to Cyber Bullying include:</p>
			 <p>Report but don't Respond</p>
			 <p>Document the Indicents</p>
			 <p>Involve the Police and the School</p>
			 <p>Be Aware of the Effects</p>
			 <br> 
			 <p>Cyber Bullying can be prevented using a variety of measures but the most popular ones include protecting accounts and devices, maintaining some privacy, practicing thinking before posting, setting limits and performing social media audits.</p>
      </div>

          {% if data | length > 0 %}
          <div class = "card card2">
            <div style="display:flex; flex-direction:column; color:aliceblue; width: 100%;">
              <div style="display:flex; width: 100%;"> 
                <h2 style="flex-grow:1; flex-basis: 0; margin: auto;">UserName</h2>
                <h2 style="flex-grow:1 ; flex-basis: 0; margin: auto;">Comment</h2>
              </div>
            {% for comment,user in data.items() %}
              <div style="display: flex; width: 100%; text-align: center;">
                <span style="flex-grow:1; flex-basis: 0; margin: auto;">{{user}}</span>
                <p style="flex-grow:1; flex-basis: 0; display:flex; flex-direction: column; height: fit-content; margin: auto; padding: 1.5em 0;">{{comment}}</p>
              </div>      
            {% endfor %} 
            </div>
          </div>
          {% endif %}
          
        </div>
      </div>
    {% endblock %}
