{% extends "article_layout.html" %}
{{ super() }}


    {% block content %}
    <div class="row">
        <div class="col">
          <h1>Sleep Addiction</h1>
          <div class="responsive">
		  	<iframe style='display: block; margin: 0 auto;' width="580" height="350" src="https://thesleepdoctor.com/blog/sleep-addiction-real/" frameborder="0" allowfullscreen></iframe>
			<iframe style='display: block; margin: 0 auto;' width="580" height="350" src="https://www.youtube.com/watch?v=r40g_9dw46o" frameborder="0" allowfullscreen></iframe>
          
          </div>
        </div>
        <div class="col">
          <div class="card card1">
            <h4>Is sleep addiction real ?</h4>
            <br>
            <p>The linked blog post notes that sleep addiction, unlike drug addiction is not an actual condition as sleep doesnt meet the criteria of addiction or substance use disorder. </p>
             <p>To be classed as an addiction or a substance use disorder,there is 11 criteria which should be met. When considering these criteria, sleeping doesn't really fit in. One may feel as though they crave sleep and may neglect personal relationships and everyday activities to sleep but that alone doesn't create an addiction as sleep is classified as a necessary biological function neeeded to survive and be healthy.<p> 
             <p>If one feels as though they're <i>'addicted'</i> to sleep, or even struggling to get enough sleep, one can note that it could be another sign of a serious problem. </p>
			 <p>Sleep disorders such as narcolepsy, sleep apnea, idiopathic hypersomnia, Kleine-Levin Syndrome (aka Sleeping Beauty Syndrome) and dysania (aka sleep inertia) can be considered as major causes of sleep deprivation.  </p>
          </div>

          {% if data | length > 0 %}
          <div class = "card card2">
            <div style="display:flex; flex-direction:column; color:aliceblue; width: 100%;">
              <div style="display:flex; width: 100%;"> 
                <h2 style="flex-grow:1; flex-basis: 0; margin: auto;">UserName</h2>
                <h2 style="flex-grow:1 ; flex-basis: 0; margin: auto;">Comment</h2>
              </div>
            {% for comment,user in data.items() %}
              <div style="display: flex; width: 100%; text-align: center;">
                <span style="flex-grow:1; flex-basis: 0; margin: auto;">{{user}}</span>
                <p style="flex-grow:1; flex-basis: 0; display:flex; flex-direction: column; height: fit-content; margin: auto; padding: 1.5em 0;">{{comment}}</p>
              </div>      
            {% endfor %} 
            </div>
          </div>
          {% endif %}
          
        </div>
      </div>
    {% endblock %}